<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>79687748895-unl59vfga9fctigscu7kpjcj1jqlao2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79687748895-unl59vfga9fctigscu7kpjcj1jqlao2e</string>
	<key>API_KEY</key>
	<string>AIzaSyDitBYbUWZXFC2XkSutMzCo8akdBi5n46E</string>
	<key>GCM_SENDER_ID</key>
	<string>79687748895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callStack.ios</string>
	<key>PROJECT_ID</key>
	<string>callstack-866e4</string>
	<key>STORAGE_BUCKET</key>
	<string>callstack-866e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:79687748895:ios:3c435ead26ef91fa</string>
	<key>DATABASE_URL</key>
	<string>https://callstack-866e4.firebaseio.com</string>
</dict>
</plist>